.all_title {
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 50px;
}

.all_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 50px;
}

.productsPagination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.productsPagination__btn {
  display: flex;
  width: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #606060;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border: none;
  background: none;
  cursor: pointer;
}
.productsPagination button#pagBtn3 {
  color: #f63;
}
